/* You can add global styles to this file, and also import other style files */

html {
    background-color: #242424;
    font-family: Arial, Helvetica, sans-serif;
}

.rg-title {
    color: palegreen;
    text-align: center;
}